* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #e4e4e4;
}
.titel{
  color: green;
  position: relative;
  margin-top: 0px;
}

.app {
  background-color: #fff;
  height: 100%;
  width: 70%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1.5em;
}
.inputs{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  background-color: green;
}
.buttonAdd{
  background-color: red;
  height: 20px;
  width: 150px;
}
.list{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;

}
.item{
  background-color: green;
  display:flex;
  justify-content:space-between;
}
.delete{
  background-color: red;
  width: 65px;
  height: 30px;
  margin-right: 100px;
  margin-top: 40px;
}