* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #e4e4e4;
}
.titel{
  color: green;
  position: relative;
  margin-top: 0px;
}

.app {
  background-color: #fff;
  height: 100%;
  width: 70%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1.5em;
}
.inputs{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  background-color: green;
  text-align: center;
}
.buttonAdd{
  background-color: red;
  height: 35px;
  width: 150px;
  border-radius: 5px;
}
.list{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  max-height: calc(100vh - 200px);
  overflow-y: auto; 
}

.mission{
  overflow: hidden;
}
.item{
  background-color: green;
  display:flex;
  justify-content:space-between;
  padding: 4px;
  border: 2px solid white;
}
.delete{
  background-color: black;
  color: white;
  width: 65px;
  height: 30px;
  margin-right: 100px;
  margin-top: 40px;
  border-radius: 5px;
}



.progrec{
  background-color: black;
  color: white;
  width: 65px;
  height: 30px;
  margin-right: 100px;
  margin-top: 40px;
  border-radius: 5px;
}

.red{background-color: rgb(255, 3, 3);}

.orenge{background-color: #F6EB03}

.green{background-color:#12F709;}

.mission{color:  rgb(255, 3, 3);;}


.addMission{
  font-size: 20px;
 border-radius: 8px;
}